.loader{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.load{
    width: 100px;
    height: 100px;
    background-color: white;
    border-bottom: 2px solid rgba(67, 67, 72, 0.543);
    border-radius: 50%;
    animation: loader 800ms linear infinite;
}

@keyframes loader{
    to{
        transform: rotateZ(-360deg);
    }
}